#body{
  margin:0;
  background: gray;
}
#menu ul{
  margin:0;
  padding:0;
  list-style: none;
}
#menu ul li{
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  background: #594848;
  font-size: 17px;
  color: white;
  padding: 20px 10px;
  font-family: Arial;
  float: left;
}
